## 處理心跳偏離值

In [7]:
import pandas as pd

In [11]:
data = pd.read_csv('D:\Courses\資策會_大數據班_BB105\專題\IOT\IOT-Data\pulse_table.csv', engine='python')

data

                 datetime  BPM  label
0     2018-02-28 17:40:29    0      0
1     2018-02-28 17:40:30    0      0
2     2018-02-28 17:40:31    0      0
3     2018-02-28 17:40:32   32      0
4     2018-02-28 17:40:33   33      0
5     2018-02-28 17:40:34   34      0
6     2018-02-28 17:40:35   35      0
7     2018-02-28 17:40:36   35      0
8     2018-02-28 17:40:37   35      0
9     2018-02-28 17:40:38    0      0
10    2018-02-28 17:40:39  104      0
11    2018-02-28 17:40:40  111      0
12    2018-02-28 17:40:41  116      0
13    2018-02-28 17:40:42   94      0
14    2018-02-28 17:40:43   94      0
15    2018-02-28 17:40:44   82      0
16    2018-02-28 17:40:45   78      0
17    2018-02-28 17:40:46   74      0
18    2018-02-28 17:40:47   72      0
19    2018-02-28 17:40:48   68      0
20    2018-02-28 17:40:49   65      0
21    2018-02-28 17:40:50   65      0
22    2018-02-28 17:40:51   58      0
23    2018-02-28 17:40:52   60      0
24    2018-02-28 17:40:53   68      0
25    2018-02-28 17:40:54   73      0
26    2018-02-28 17:40:55   70      0
27    2018-02-28 17:40:56   71      0
28    2018-02-28 17:40:57   70      0
29    2018-02-28 17:40:58   89      0
...                   ...  ...    ...
2792  2018-03-05 17:26:23  181      0
2793  2018-03-05 17:26:24  184      1
2794  2018-03-05 17:26:25  143      1
2795  2018-03-05 17:26:26  126      1
2796  2018-03-05 17:26:27  121      1
2797  2018-03-05 17:26:28  106      1
2798  2018-03-05 17:26:29  103      1
2799  2018-03-05 17:26:30  126      1
2800  2018-03-05 17:26:31  154      1
2801  2018-03-05 17:26:32  164      1
2802  2018-03-05 17:26:33  163      1
2803  2018-03-05 17:26:34  160      1
2804  2018-03-05 17:26:35  154      1
2805  2018-03-05 17:26:36  152      1
2806  2018-03-05 17:26:37  152      1
2807  2018-03-05 17:26:38  163      1
2808  2018-03-05 17:26:39  188      1
2809  2018-03-05 17:26:40  188      1
2810  2018-03-05 17:26:41  131      1
2811  2018-03-05 17:26:42  111      1
2812  2018-03-05 17:26:43   96      1
2813  2018-03-05 17:26:44   96      1
2814  2018-03-05 17:26:45   94      1
2815  2018-03-05 17:26:46   94      1
2816  2018-03-05 17:26:47   70      1
2817  2018-03-05 17:26:48   62      1
2818  2018-03-05 17:26:49   62      1
2819  2018-03-05 17:26:50   62      1
2820  2018-03-05 17:26:51    0      1
2821  2018-03-05 17:26:52  103      1

[2822 rows x 3 columns]